<nav class="navbar navbar-expand-sm navbar-dark " style="background-color:#13c54a;">
    <div class="container-fluid">
        {% if current_user.is_authenticated %}
        {% if current_user.userRole|int in [1, 2] %}
        <a class="navbar-brand fw-bold text-white" href="/admin">
            <i class="fa-solid fa-user-shield me-2"></i> NYCOSMETICS
        </a>
        {% else %}
        <a class="navbar-brand fw-bold" href="/">
            <i class="fa-solid fa-shop me-2"></i> NYCosmetics
        </a>
        {% endif %}
        {% else %}
        <a class="navbar-brand fw-bold" href="/"> NYCosmetics </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
            </ul>

            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" href="" style="padding: 0px 5px; font-size: 0.85rem;">
                    Chào {{current_user.name}}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="/logout" style="padding: 0px 5px; font-size: 0.85rem;">&#128220; Đăng xuất</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="/login" style="padding: 0px 5px; font-size: 0.85rem;">&#128220;Đăng nhập</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="/register" style="padding: 0px 5px; font-size: 0.85rem;">&#128105;Đăng ký</a>
            </li>
            {% endif %}
        </div>
    </div>
</nav>

